@use "../util/" as u;

// SemanticUI Config
.ui.inverted.menu {
	background: u.$secondary-background-color;

	& a:hover {
		color: u.$accent-color !important;
	}
}

.ui.mini.menu {
	@include u.breakpoint(small) {
		font-size: 1em;
	}
	@include u.breakpoint(medium) {
		font-size: 1.2em;
	}
	@include u.breakpoint(xlarge) {
		font-size: 1.5em;
	}
}

.ui.menu .item {
	flex: auto;
}

// Body
.header {
	&__img {
		position: relative;

		& img {
			width: 100%;

			@media (max-width: 450px) {
				width: 450px;
				height: 400px;
				object-fit: cover;
			}
		}
	}

	&__title {
		position: absolute;
		text-align: center;
		bottom: 0;
		margin-bottom: 10px;
		color: u.$text-secondary-color;
		animation: fadeIn 5s ease 1s 1 normal backwards;

		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateY(-20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&__sub {
			width: 180px;
			border-radius: 10px !important;

			filter: saturate(115%) !important;

			@include u.breakpoint(medium) {
				width: 200px;
				height: 50px;
				position: absolute;
				right: 0;
				margin-right: 100px !important;
			}

			@include u.breakpoint(large) {
				width: 250px;
				height: 60px;
				margin-right: 150px !important;
			}
		}

		& h1 {
			font-size: 2.4em;
			@include u.breakpoint(medium) {
				font-size: 3rem;
			}
			@include u.breakpoint(xlarge) {
				font-size: 4rem;
			}
		}

		& p {
			font-size: 1.3em;
			@include u.breakpoint(medium) {
				font-size: 1.6em;
			}
			@include u.breakpoint(xlarge) {
				font-size: 2.5em;
			}
		}
		@include u.breakpoint(small) {
			position: absolute;
			top: 40%;
			bottom: auto;
			right: 0;
		}
	}
}

.category {
	&__container {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		margin-top: 20px;
		height: 300px;
		@include u.breakpoint(medium) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}
	}

	@include u.breakpoint(medium) {
		&__1 {
			grid-area: 1 / 1 / 3 / 2;
		}

		&__2 {
			grid-area: 1 / 2 / 2 / 3;
		}

		&__3 {
			grid-area: 2 / 2 / 3 / 3;
		}

		&__4 {
			grid-area: 1 / 3 / 3 / 4;
		}

		&__1 img {
			width: 100%;
		}
	}

	&__item {
		position: relative;
		& img {
			width: 70%;
			height: 80px;
			object-fit: cover;
			filter: grayscale(20%) opacity(60%);
			display: block;
			margin: 0 auto;
		}

		@include u.breakpoint(medium) {
			&__img1 {
				width: 100% !important;
				height: 300px !important;
			}

			&__img2 {
				width: 100% !important;
				height: 150px !important;
			}

			&__img3 {
				width: 100% !important;
				height: 150px !important;
			}

			&__img4 {
				width: 100% !important;
				height: 300px !important;
			}
		}

		& img:hover {
			filter: opacity(90%);
		}

		& h3 {
			color: white;
			text-shadow: 0 0 6px black;
			margin: 0;
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);

			@include u.breakpoint(xlarge) {
				font-size: 1.7em;
			}
		}
	}
}

.section {
	margin: 50px 0;
	text-align: center;

	@include u.breakpoint(medium) {
		margin-top: 150px;
	}

	& h2 {
		font-size: u.$section-h2-small;
		@include u.breakpoint(medium) {
			font-size: u.$section-h2-medium;
		}
	}

	&__cards {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;

		@include u.breakpoint(large) {
			flex-direction: row;
			justify-content: center;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70%;
			max-width: 300px;
			margin: 10px auto;
			padding: 20px;
			background-color: u.$card-background-color;

			@include u.breakpoint(small) {
				max-width: 500px;
			}

			@include u.breakpoint(large) {
				width: 30%;
				margin: 10px;
			}

			& img {
				width: 250px;
				height: 250px;
				margin-bottom: 15px;
				object-fit: cover;

				@include u.breakpoint(small) {
					max-width: 100%;
					width: 400px;
					height: 400px;
				}
			}

			& h3 {
				margin: 0;
				font-size: 1.3em;
			}

			& button {
				margin: 0 auto;
				margin-top: auto !important;
				max-width: 200px;
			}
		}
	}
}

.ui.container {
	overflow: auto;
	white-space: nowrap;
	width: inherit;
	max-width: 1600px !important;
}
.ui.card {
	display: inline-block;
	margin: 10px !important;

	& a:hover {
		color: u.$accent-color !important;
		font-weight: bold;
	}
}

@include u.breakpoint(medium) {
	.ui.container {
		overflow: inherit;
		white-space: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@include u.breakpoint(large) {
	.ui.container {
		font-size: 1.2em;
	}
}

.section__btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section {
	&__card__img {
		& img {
			width: 100%;
			height: 300px !important;
			object-fit: cover !important;
		}
	}
}

.view__next {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
	width: 200px;
}

.footer {
	background: u.$secondary-background-color;
	color: u.$text-secondary-color;

	&__section {
		display: flex;
		flex-wrap: wrap;
		padding: 15px;

		@include u.breakpoint(medium) {
			justify-content: center;
		}

		&__about,
		&__links,
		&__contact {
			width: 45%;

			@include u.breakpoint(medium) {
				width: 30%;
				max-width: 300px;
				font-size: 1.2em;
			}
		}

		& p {
			font-weight: bold;
		}

		& ul {
			list-style: none;
			padding-left: 0;

			& li {
				margin-bottom: 5px;
				padding-top: 15px;
			}
		}
	}

	&__copy {
		text-align: center;
		margin-top: 20px;
	}
}

.contact__p {
	float: right;
	left: 0;
}

.adr-icon {
	float: left;
}

.adr-group {
	float: left;
}

.cart {
	position: relative;
	height: 100vh;
	&__list {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
		padding: 30px;
		align-self: center;
		text-align: center;
		display: flex;
		flex-direction: column;
		border: 3px solid gray;
		border-radius: 10px;

		@include u.breakpoint(medium) {
			flex-direction: row;
			justify-content: space-around;
			font-size: 1.5em;
		}

		&__section1 {
			@include u.breakpoint(medium) {
				font-size: 1.5em;
			}
		}

		& h2 {
			margin: 50px 0;

			@include u.breakpoint(medium) {
				font-size: 1.5em;
			}
		}

		&__button {
			width: 200px;
			margin: 0 auto;

			@include u.breakpoint(medium) {
				width: 300px;
			}

			& button {
				margin: 15px 0 !important;
			}
		}

		&__contents {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			background-color: u.$card-background-color;
			display: flex;
			text-align: center;
			align-items: center;
			padding: 15px 10px;
			border-radius: 10px;
			margin: 10px 0;
			width: 300px;
			& img {
				width: 80px;
				margin: 0 30px;
			}

			& button {
				margin-left: auto !important;
			}
		}
	}
}

.item__container {
	padding: 30px;
}

.item {
	width: 80%;
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
	border-radius: 8px;
	background: u.$card-background-color;

	@include u.breakpoint(medium) {
		display: flex;
	}

	&__img {
		width: 70%;
		max-width: 290px;
		margin: 0 auto;
		& img {
			width: 100%;
		}
	}

	&__description {
		& h2 {
			display: inline-block;
			border-top: 2px solid black;
			border-bottom: 2px solid black;
			padding: 5px;
		}

		& h3 {
			margin: 0;
			margin-bottom: 30px;
		}

		&__table {
			margin: 30px auto !important;
		}

		&__button {
			width: 90%;
			max-width: 240px;
			margin: 0 auto;

			&__home {
				margin: 10px 0;
			}
		}
	}

	&__order {
		@include u.breakpoint(medium) {
			margin-left: 80px;
		}
	}
}
