@use "../util/" as u;

.ui.inverted.menu {
	background: u.$secondary-background-color;

	& a:hover {
		color: u.$accent-color !important;
	}
}

.header {
	&__img {
		position: relative;

		& img {
			width: 100%;
		}
	}

	&__title {
		position: absolute;
		text-align: center;
		bottom: 0;
		margin-bottom: 10px;
		color: u.$text-secondary-color;

		& h1 {
			font-size: 2.4em;
			@include u.breakpoint(medium) {
				font-size: 3rem;
			}
			@include u.breakpoint(xlarge) {
				font-size: 3.5rem;
			}
		}

		& p {
			font-size: 1.3em;
			@include u.breakpoint(medium) {
				font-size: 1.6em;
			}
			@include u.breakpoint(xlarge) {
				font-size: 2.5em;
			}
		}
		@include u.breakpoint(small) {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			bottom: auto;
			right: 0;
		}
	}
}

.section {
	margin: 150px 0;
	text-align: center;

	& h2 {
		font-size: u.$section-h2-small;
		@include u.breakpoint(medium) {
			font-size: u.$section-h2-medium;
		}
	}

	&__cards {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;

		@include u.breakpoint(large) {
			flex-direction: row;
			justify-content: center;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70%;
			max-width: 300px;
			margin: 10px auto;
			padding: 20px;
			background-color: u.$card-background-color;

			@include u.breakpoint(small) {
				max-width: 500px;
			}

			@include u.breakpoint(large) {
				width: 30%;
				margin: 10px;
			}

			& img {
				width: 250px;
				height: 250px;
				margin-bottom: 15px;
				object-fit: cover;

				@include u.breakpoint(small) {
					max-width: 100%;
					width: 400px;
					height: 400px;
				}
			}

			& h3 {
				margin: 0;
				font-size: 1.3em;
			}

			& button {
				margin: 0 auto;
				margin-top: auto !important;
				max-width: 200px;
			}
		}

		&:hover {
			& h3 {
				color: u.$accent-color;
			}
		}
	}
}

.ui.container {
	overflow: auto;
	white-space: nowrap;
	width: inherit;
	max-width: 1600px !important;
}
.ui.card {
	display: inline-block;
	margin: 10px !important;

	& a:hover {
		color: u.$accent-color !important;
		font-weight: bold;
	}
}

@include u.breakpoint(medium) {
	.ui.container {
		overflow: inherit;
		white-space: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@include u.breakpoint(large) {
	.ui.container {
		font-size: 1.2em;
	}
}

.section__btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section {
	&__card__img {
		& img {
			width: 100%;
			height: 300px !important;
			object-fit: cover !important;
		}
	}
}

.footer {
	background: u.$secondary-background-color;
	color: u.$text-secondary-color;

	&__section {
		display: flex;
		flex-wrap: wrap;
		padding: 15px;

		@include u.breakpoint(medium) {
			justify-content: center;
		}

		&__about,
		&__links,
		&__contact {
			width: 45%;

			@include u.breakpoint(medium) {
				width: 30%;
				max-width: 300px;
				font-size: 1.2em;
			}
		}

		& p {
			font-weight: bold;
		}

		& ul {
			list-style: none;
			padding-left: 0;

			& li {
				margin-bottom: 5px;
				padding-top: 15px;
			}
		}
	}

	&__copy {
		text-align: center;
		margin-top: 20px;
	}
}

.contact__p {
	float: right;
	left: 0;
}

.adr-icon {
	float: left;
}

.adr-group {
	float: left;
}
